/* Base Application Styles */
@font-face
  font-family: 'icons-turn-arrow'
  src: url('../fonts/icons/turn-arrow.eot?2qevqt')
  src: url('../fonts/icons/turn-arrow.eot?2qevqt#iefix') format('embedded-opentype'),
    url('../fonts/icons/turn-arrow.ttf?2qevqt') format('truetype'),
    url('../fonts/icons/turn-arrow.woff?2qevqt') format('woff'),
    url('../fonts/icons/turn-arrow.svg?2qevqt#icons-turn-arrow') format('svg')
  font-weight: normal
  font-style: normal
html, body
  background-color: #222
  width: 100%
  height: 100%
  .content
    width 100%
    height 100%
    .stage
      position: relative
      width 100%
      height 100%
      .img-sec
        position relative
        width 100%
        height 100%
        overflow hidden
        background-color #ddd
        perspective 1800px
        .img-figure
          position absolute
          width 320px
          height 360px
          margin 0
          padding 0
          box-sizing border-box
          cursor pointer
          background none
          transform-style preserve-3d
          transition transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out
          .wrap-position
            position relative
            height 100%
            width 100%
            .img-back
              position absolute
              left 0
              top 0
              width 100%
              height 100%
              padding 50px 40px
              overflow auto
              color #a7a0a2
              font-size 22px
              line-height 1.25
              text-align left
              box-sizing border-box
              transform translate(320px) rotateY(180deg) translateZ(1px)
              backface-visibility hidden
              transform-style preserve-3d
              transition transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out
              transform-origin 0 50% 0
              background #fff
            .img-content
              position absolute
              top 0
              left 0
              width 100%
              height 100%
              box-sizing border-box
              padding 40px
              background #fff
              transform-style preserve-3d
              transition transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out
              transform-origin 0 50% 0
              backface-visibility hidden
              figcaption
                text-align center
                .img-title
                  margin 20px 0 0 0
                  color #a7a0a2
                  font-size 16px
              .img-wrap
                position relative
                width 100%
                padding-top 100%
                img
                  position absolute
                  top 0
                  left 0
                  width 100%
                  height 100%
          &.is-inverse
            .img-back
              transform translate(0px) rotateY(0deg) translateZ(1px)
            .img-content
              transform translate(320px) rotateY(180deg) translateZ(1px)
      .controller-nav
        position absolute
        left 0
        bottom 30px
        width 100%
        z-index 101
        text-align center
        .controller-unit
          display inline-block
          width 30px
          height 30px
          margin 0 5px
          text-align center
          cursor pointer
          background #aaa
          border-radius 50%
          transform scale(.5)
          vertical-align middle
          transition transform .6s ease-in-out, background-color .3s
          &.is-center
            background #888
            transform scale(1)
            &::after
              font-family "icons-turn-arrow"
              content "\e600"
              font-size 80%
              color #fff
              line-height 30px
              -webkit-font-smoothing antialiased
              -moz-osx-font-smoothing grayscale
            &.is-inverse
              background #555
              transform rotateY(180deg)


