/* Base Application Styles */
html,
body {
  background-color: #222;
  width: 100%;
  height: 100%;
}
html .content,
body .content {
  width: 100%;
  height: 100%;
}
html .content .stage,
body .content .stage {
  position: relative;
  width: 100%;
  height: 680px;
}
html .content .stage .img-sec,
body .content .stage .img-sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
}
html .content .stage .controller-nav,
body .content .stage .controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  z-index: 101;
  text-align: center;
}
